@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-light: #ffffff;
  --text-color-light: #000000;

  --background-dark: #333333;
  --text-color-dark: #ffffff;
}

.light-theme {
  background-color: var(--background-light);
  color: var(--text-color-light);
}

.dark-theme {
  background-color: var(--background-dark);
  color: var(--text-color-dark);
}
